<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle  Game | Ranking</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="index.html">
                <img src="../img/Logo.png" alt="Puzzle logo" class="navbar-logo">
            </a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-light d-flex align-items-end" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="bg-light p-1 rounded-circle">
                        <img src="../img/user-icon-green.png" class="navbar-user-icon" alt="User">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-dark p-1">
                    <a href="game.html" class="dropdown-item bg-dark text-light my-3 ">Play game</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item bg-dark text-light my-3 ">Logout</a>
                </div>
            </div>

            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row ranking-output">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                <div class="bg-light text-dark shadow-sm p-1 my-4 row">
                    <div class="col-1 display-6 text-center text-secondary">
                        1
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                            <div class="user-name">
                                User 1
                            </div>
                            <div class="user-score lead text-end">
                                10.000
                            </div>
                    </div>
                </div>
                <div class="bg-light text-dark shadow-sm p-1 my-4 row">
                    <div class="col-1 display-6 text-center text-secondary">
                        2
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                        <div class="user-name">
                            User 2
                        </div>
                        <div class="user-score lead text-end">
                            9.800
                        </div>
                    </div>
                </div>
                <div class="bg-light text-dark shadow-sm p-1 my-4 row">
                    <div class="col-1 display-6 text-center text-secondary">
                        3
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                        <div class="user-name">
                            User 3
                        </div>
                        <div class="user-score lead text-end">
                            8.900
                        </div>
                    </div>
                </div>
                <div class="bg-light text-dark shadow-sm p-1 my-4 row">
                    <div class="col-1 display-6 text-center text-secondary">
                        4
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                        <div class="user-name">
                            User 4
                        </div>
                        <div class="user-score lead text-end">
                            8.000
                        </div>
                    </div>
                </div>
                <div class="bg-light text-dark shadow-sm p-1 my-4 row">
                    <div class="col-1 display-6 text-center text-secondary">
                        5
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                        <div class="user-name">
                            User 5
                        </div>
                        <div class="user-score lead text-end">
                            7.500
                        </div>
                    </div>
                </div>
                <div class="bg-dark text-light shadow-sm border border-light p-2 my-4 row">
                    <div class="col-1 lead text-center text-light">
                        123
                    </div>
                    <div class="col-11 row row-cols-2 align-items-center">
                        <div class="user-name">
                            User new
                        </div>
                        <div class="user-score lead text-end">
                            1.500
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>