@import "./mixins.scss";
@import "./animations.scss";

// Navbar
.navbar-logo{
    height: 3rem;
}

.navbar-user-icon {
    width: 2.5rem;
    height: 2.5rem;
}

// Index.html
.main-logo-img path{
    opacity: 0;
}

.main-logo-text{
    width: 400px;
    height: 130px; 
}

.actions{
    opacity: 0;
}

// Authenticate.html
.auth-form-wrapper{
    height: 60vh;
}

// Game 
.reloads-alert{
    position: absolute;
    top: 15%;
    width: 90%;
    left: 5%;
    z-index: 6;

    @include medium-screen{
        width: 70%;
        left: 15%;
    }

    @include large-screen{
        width: 50%;
        left: 25%;
    }
}
