@mixin medium-screen{
    @media (min-width: 768px) {
        @content;
    }
}

@mixin large-screen{
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin stroke-animation($path-length, $delay) {
    stroke-dasharray: $path-length;
    stroke-dashoffset: $path-length;
    animation: stroke-animate .5s ease-out forwards;
    animation-delay: $delay;
}

@mixin logo-entry-animation($origin, $delay) {
    animation: main-logo-animate 2.5s ease-out forwards;
    transform-origin: $origin;
    animation-delay: $delay;
}